

/* 
	Global Styling 
	===
	- What is getting inherited? What is not? 
*/
body{
	background:url(../img/bg.png);
	font-family: "Lora", serif;
}


h1,h3,h5 {
	font-family: "Oswald", sans-serif;
}

/* 
	Main Navigation
	===
	- Apply styling only to main navigation with specificity
	- Use this styling
*/	
nav li{
	float: left;
	list-style: none;
	margin: 0 10px;
}

nav a:link, 
nav a:visited {
	background: rgba(255,255,255,.25);
	color: #fff;
	display: block;
	letter-spacing: 2px;
	padding: 20px 20px 20px 40px;
	text-decoration: none;
	text-transform: uppercase;

}


/* 
nav a:hover {
	background: #FF8000;
}
*/
nav a:active {
	color: #000;
}

a#grid:hover {
	background: url("../img/icons/award.png") #FF8000 no-repeat left center;
}

 a#wiki:hover {
	background: url("../img/icons/grid.png") #FF8000 no-repeat left center;
}

 a#info:hover {
	background: url("../img/icons/heart.png") #FF8000 no-repeat left center;
}

/* 
	Feature Image
	===
*/

article img {
	background: #000;
	box-shadow: 2px 2px 8px black;
	padding: 10px;
	border: 10px solid #fff; 
	float: right;
	margin: 0 0 0 10px;
}

article img:hover{
	border: 10px solid orange;
}

