


/* 
	Global Styling 
	===
	- What is getting inherited? What is not? 
*/
body{
	background:url(../img/bg.png);
	font-family: "Lora", serif;
}

h1,h2,h5 {
	font-family: "Oswald", sans-serif;
}

/* 
	Main Navigation
	===
	- Apply styling only to main navigation with specificity
	- Use this styling
	
	letter-spacing: 2px;
	padding: 20px 20px 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
*/



/* 
nav a:hover {
	background: #FF8000;
}
*/


/* 
	Feature Image
	===
*/


